:root {
  --shadow-board-outer: 2px 4px 6px rgba(83, 86, 90, 0.3);
  --shadow-board-inner: 4px 4px 4px rgba(157, 190, 205, 0.8) inset;
  --shadow-light: 2px 2px 2px rgba(174, 201, 214, 0.5);
  --shadow-dark: -2px -2px 2px rgba(79, 131, 156, 0.5);
  --shadow-inner: 2px 2px 2px rgba(83, 86, 90, 0.4) inset;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

body {
  padding: 0.25rem;
  font-family: system-ui;
}

.header__title {
  text-align: center;
  font-size: clamp(2rem, 10vw, 3rem);
  font-weight: 900;
}

.header__connect {
  margin-right: 0.5rem;
  color: #d22;
}

.header__four {
  color: #fc0;
}

.board {
  width: min(100%, 500px);
  margin-inline: auto;
}

.board__top {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  padding: 0.5rem 1.5rem;
}

.board__column {
  position: relative;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.board__btn {
  width: min(100%, 28px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #aaa;
  border-radius: 50%;
  background: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.5);
}

.board__arrow {
  fill: #aaa;
}

.board__grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  padding: 1.5rem;
  background-color: #7ab;
  border-radius: 4px;
  box-shadow: var(--shadow-board-inner), var(--shadow-board-outer);
}

.board__cell {
  /* min-width: 0; */
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: var(--shadow-inner), var(--shadow-light), var(--shadow-dark);
}

.board__disc {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: var(--shadow-inner);
  /* color: rgba(0, 0, 0, 0.4); */
  /* font-size: clamp(0.5rem, 5vw, 1.75rem); */
  /* user-select: none; */
}

.board__disc::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 70%;
  border-radius: inherit;
  box-shadow: inherit;
}

.board__disc--red {
  background-color: #d22;
}

.board__disc--yellow {
  background-color: #fc0;
}

.board__disc--faded {
  filter: opacity(0.7) grayscale(60%) contrast(0.4);
}

.board__disc svg {
  width: 65%;
  height: 65%;
}

.board__disc--preview {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(5px);
  display: none;
  pointer-events: none;
}

@media (hover: hover) and (pointer: fine) {
  .board__btn:hover + .board__disc--preview,
  .board__btn:focus-visible + .board__disc--preview {
    display: block;
  }
}
