* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0.25rem;
  font-family: system-ui;
}

.header__title {
  text-align: center;
  font-size: clamp(2rem, 10vw, 3rem);
  font-weight: 900;
}

.header__connect {
  margin-right: 0.5rem;
  color: #d22;
}

.header__four {
  color: #fc0;
}

.board {
  width: min(100%, 500px);
  margin-inline: auto;
}

.board__top {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  padding: 0.5rem 1.5rem;
}

.board__column {
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.board__grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  padding: 1.5rem;
  background-color: #7ab;
}

.board__cell {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #fff;
}

.board__disc {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: clamp(0.5rem, 5vw, 1.75rem);
}

.board__disc--red {
  background-color: #d22;
}

.board__disc--yellow {
  background-color: #fc0;
}
